*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;/*параметры рамки*/
    max-width: 100%;
    background: #FFF8DC;
}

input{
    border-radius: 10px;
    border: none;
}

.container{
    /*max-width: 1 814px;*/
    margin: 0 auto;
}

.btn_1 {
    background:#FFFFFF;
    color: #1e90ff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.m-content{
    margin-left: 10%;
    max-width: 75%; 
}

.main-headers{
    max-width: 100%;
    margin: 1% 0 0 1%;
    margin-left: 11%;
}

.headers-places{
    display: flex;
}

.main-headers-place{
    background: #1e90ff;
    border: 1px solid rgba(30, 144, 255, 1);
    width: 20%;
    height: 10%;
    padding-left: 1%;
    font-family: Arial;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.main-headers-place a{
    color: white;
    text-decoration: none;
}

.main-headers-subplace{
    background: #FFFFFF;
    border: 1px solid rgba(30, 144, 255, 1);
    width: 20%;
    height: 10%;
    padding-left: 1%;
    font-family: Arial;
    margin-left: 1px;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: #1e90ff;
    border-radius: 10px 10px 0px 0px;
}

.main-headers-subplace a{
    color: #1e90ff;
    text-decoration: none;
}

.main-headers-txtplace{
    padding-left: 1%;
    font-family: Arial;
    margin-left: 10px;
    font-style: normal;
    line-height: 39px;
    font-size: 1.2rem;
    color: #1e90ff;
}

.main-headers-line{
    width: 90%;
    height: 0;
    border: 3px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

/*Главное меню*/
.subheader{
    height: 10rem;
}

header{
    display: flex;
    position: fixed;
    background-image: url(logo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120rem;
    height: 10rem;
    z-index: 10;
}

header a img{
    margin: 3% 5%;
    width: 132px;
    height: 132px;
}

header  nav{
    /* background: #1e90ff; */
    width: 120rem;
    margin: 3% 5% 0 5%;
    /* margin: 1.8rem 0 0 35.75rem;  */
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display:inline-block;
    margin-left: 2rem;
}

header nav a{ 
    /* display: flex; */
    max-width: auto;
    height: 2.9rem;
    /* margin-right: 27%; */
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    line-height: 39px;
    font-size: 2rem;
    font-weight: normal;
    color: #1e90ff;
    white-space: nowrap;
    font-variant: small-caps;
}

header nav button{
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

header nav button:hover{
    border: 1px solid rgba(30, 144, 255, 1) !important;
    opacity: 0.7 !important;
    font-weight: bold !important;
    border-radius: 5px;
}

header .menu-item {
    position: relative;
}
  
header .submenu {
    position: absolute;
    display: none;
}

header .submenu button{
    width: 10rem;
    background: #FFFFFF;
}


header .navigation-line{
    width: 73%;
    height: 0;
    border: 3px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

header .authorization-form{
    font-family: Arial;
    /* background: #1e90ff; */
    width: 23%;
    height: 4rem;
    padding: 15px;
    margin-left: 50%;
    margin-top: -40px;
    background: #1e90ff;
    opacity: 0.7;
    border-radius: 10px 10px 0px 0px;
}

header .authorization-form .send{
    background: #1e90ff;
    padding: 3px;
    height: 1.8rem; 
    border-radius: 5px;
}

header .authorization-form input{
   text-align: center; 
}

header .authorization-form .reg-group a {
    color: #ffff;
    cursor: pointer;
} 

/*Главная страница*/

main {
    position: relative;
    margin-top: 2rem;
    max-width: 120rem;
    height: auto;
}

main .newsblock{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;     
}

main .post-place-1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 17px;
    width: 30%;
    height: 15rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
    text-decoration: none;
}

main .post-place-1:hover {
    cursor: pointer;
    /* width: 23.5%;
    height: 15.5rem; */
    box-shadow: 0 0 7px;
    border: 3px solid black;
}

.post-place-1 .post-top-1{
    margin: 10px;
}

.post-place-1 .post-bottom-1{
    margin: 6rem auto auto 1rem;
    font-size: 1.7rem;
}

main .main-post{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    
}

main .post-place-2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 17px;
    width: 44%;
    height: 20rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
}

main .post-place-2:hover {
    cursor: pointer;
    /* width: 23.5%;
    height: 15.5rem; */
    box-shadow: 0 0 7px;
    border: 3px solid black;
}

.post-place-2 .post-top-1{
    margin: 10px;
}

.post-place-2 .post-bottom-1{
    margin: 10rem auto auto 1rem;
    font-size: 2rem;
}

main .gallery-place{
    z-index: 5;
    margin-left: 12%;
    max-width: 75%;
}

main .day-reflection{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 12px;
    height: 30rem;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    border-radius: 10px;
}

main .footer-prev{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;
}

main .descr-txt-place{
    margin-left: 2%;
    width: 53%;
}

main .mp-description{
    font-size: 0.7rem;
}

/*Стиль новостей и статей*/

article{
    font-family: Arial, Helvetica, sans-serif;
}

article .article-head{
    height: 700px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 3px black;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    border-radius: 10px;
}

article .article-head-top{
    display: flex;
    margin-left: 2%;
    width: 100%;
}

article .article-info{
   width: 30%;
}

article .article-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 2%;
    width: 12%;
    height: 3.8rem;
    background: white;
    border-radius: 10px;
}

article .article-rating img{
    margin-top: 1%;
    padding-left: 3%;
    width: 35%;
    height: 35%;
    
}

article h1{
    font-size: 5rem;
    margin-top: 15%;
    margin-left: 15%;
}

article .a-content{
    margin-top: 2%;
    font-size: 2rem;
}

article .like-place{
    margin-top: 2%;
    font-size: 2rem;
}

article .tags-place{
    display: flex;
    padding-bottom: 1rem;
}

article .tags-place .tgs{
    margin-left: 1%;   
}

article .recomm-place{
    display: flex;
}

article .comment{
    display: flex;
    margin-top: 1rem;
}

article .comment-person-pl img{
    width: 90px;/*Параметры аватара*/
    height: 90px;
}

article .comment-ans{
    margin-left: 80%;
}

article .comment-line{
    margin-top: 1rem;
    width: 90%;
    height: 0;
    border: 1px solid rgba(30, 144, 255, 1);
    
    /* margin-left: auto; */
    flex-shrink: 0;
    flex-grow: 0;
    transform: rotate(180deg);
}

article .zen-ch a{
    text-decoration: none;
}

article .zen-ch img{
    width: 3%;
    height: 3%;
}

article .zen-ch .zen-ch-title{
    font-size: 1.5rem;
    vertical-align: 45%; 
}
